<h1>En Progreso</h1>
<% if @current_user %>
	<h2><%= "Bienvenido "+@current_user.nombre+" "+@current_user.apellido %></h2>
<% end %>

<div class="row">

<div class="col-md-6 col-md-offset-3">

	<span class="text-left">Database users:</span>

	<div class="box-it">
		<% @datab.each do |user| %>
			<h2><%= user.nombre+" "+user.apellido+" ("+user.profesion+")"%></h2>
		<% end %>
	</div>
</div>

</div>