<footer class="footer">
  <small>
    Secreataria de Educacion del Magdalena - 2016
  </small>
  <nav>
    <ul>
      <li><a href="http://magdalena.gov.co/index.shtml">Gobernación del Magdalena</a></li>
    </ul>
  </nav>
</footer>